#quotes-content {
    margin-top: 50px;
    width: 50%;
    text-align: center;
    color: white;
    font-size: 24px;
    // text-transform: uppercase;
    transform: rotate(-10deg) skew(15deg);
    animation: animate 3s ease-in-out infinite;
}

.blurOut{
    animation: blurOut 3s ease-in-out;
}

.blurOut{
    animation: blurIn 3s ease-in-out;
}

@keyframes blurOut
{
    0%{
        filter: blurOut(0px);
    }

    50%{
        filter: blurOut(10px);
    }
}

@keyframes blurIn
{
    0%{
        filter: blurOut(10px);
    }

    50%{
        filter: blurOut(0px);
    }
}

@keyframes animate
{
    0%{
        transform: rotate(-10deg) skew(15deg) translate(0px, 0px);
        text-shadow: -5px 5px 0 rgba(0, 0, 0, .2)
    }
    50%{
        transform: rotate(-10deg) skew(15deg) translate(13px, -13px);
        text-shadow: -10px 10px 0 rgba(0, 0, 0, .2);
        // filter: blur(10px);
    }
    100%{
        transform: rotate(-10deg) skew(15deg) translate(0px, 0px);
         text-shadow: -5px 5px 0 rgba(0, 0, 0, .2)
    }

    
}

