.main-logo{
    width: 100%;
}

#quotes-content {
    letter-spacing: 8px;
    margin-top: 30px;
    width: 50%;
    text-align: center;
    color: rgb(49, 48, 48);
    font-size: 20px;
    text-transform: uppercase;
    transform: rotate(-20deg) skew(40deg);
    animation: animate 3s ease-in-out infinite;

    @include tablet{
        font-size: 32px;
    } 
    @include desktop{
        font-size: 40px;
    }
}

.quotes-box{
    display: flex;
    justify-content: center;
    align-items: center;
    height:20vh;
}

footer h2{
    display: flex;
    font-size: 18px;
}

.menu{
    display: flex;
    flex-direction: row;
}

.menu-quotes-menu{
    display: flex;
    flex-direction: row;
}

.menu-item{
    font-size: 18px;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.refLink{
    text-align: center;
}

.archivesSection{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.archivesContainer{
    width: 30%;
    height: 50vh;
    display: flex;
    flex-direction: row;
}