.main-logo{
    width: 100%;
}

.test{
    display: flex;
    justify-content: center;
    align-items: center;
    height:40vh;
}

footer h2{
    display: flex;
    font-size: 18px;

}

.menu{
    display: flex;
    flex-direction: row;
}

.menu-quotes-menu{
    display: flex;
    flex-direction: row;
}

.menu-item{
    font-size: 18px;
}